html{
  min-height: 100%;
}

@font-face {
  font-family: Spoqa Han Sans Bold;
  src: url('public/Spoqa Han Sans Bold.woff') format('woff');
}
body{
  background:url('public/images/background.jpg')no-repeat center;
  background-size:cover;
  height: 100%;
  /* overflow-y: hidden; overflow-x: hidden; */
}

#wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
}

#title
{
  grid-column: 1 / 3;
}

#image{
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#text{
  font-family: Spoqa Han Sans Bold;
  color:white;
  text-align: center;
  padding:70px 30px 30px 30px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
