html{
  min-height: 100%;
}

@font-face {
  font-family: Spoqa Han Sans Bold;
  src: url('./public/Spoqa Han Sans Bold.woff');
}

body{
  margin:0;
  color: white;
  background: url('./public/images/background.jpg')no-repeat center;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  font-family: Spoqa Han Sans Bold;
}
#year{
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
  font-family: Spoqa Han Sans Bold;
}
#title{
  text-decoration: none;
  font-size: 25px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Spoqa Han Sans Bold;
}
#subtitle{
  margin-top: 0;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  font-family: Spoqa Han Sans Bold;
}
#margin{
  text-decoration: none;
  font-size: 70px;
  /* padding-top: 50px;
  padding-bottom: 20px; */
  text-align: center;
  font-family: Spoqa Han Sans Bold;
  margin-top: 150px;
  margin-bottom: 100px;
}
.button {
  width: 250px;
  background-color: #c0c0c0;
  border: none;
  padding: 25px 32px;
  vertical-align: bottom;
  display: inline-block;
  font-size: 25px;
  border-radius: 50px;
  font-family: Spoqa Han Sans Bold;
}

#title2{
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
  font-family: Spoqa Han Sans Bold;
}
#subtitle2{
  text-decoration: none;
  font-size: 45px;
  text-align: center;
  margin-top: 5px;
  font-family: Spoqa Han Sans Bold;
}
image{
  vertical-align: middle;
}
#margin2{
  padding-top: 100px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.button2 {
  width: 220px;
  background-color: #c0c0c0;
  border: none;
  color: black;
  padding: 25px 42px;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 50px;
  font-family: Spoqa Han Sans Bold;
}
a{
  text-decoration: none;
  text-align: center;
  color: #444444;
}
