html{
  min-height: 100%;
}

@font-face {
  font-family: 'SHS';
  src : local('Spoqa Han Sans Bold'),
        url('./public/Spoqa Han Sans Bold.woff');
}
body{
  background:url('./public/images/background.jpg')no-repeat center top;
  background-size : cover;
}
p1{
  font-size : 35px;
  color : white;
}
.a{
  line-height : 1.0em;
  font-size: 16px;
  border-bottom: 1px solid white;
  padding-bottom : 20px;
  color: white;
}
.b{
  padding-top : 15px;
  font-size: 10px;
}
.button1{
  background-color:#A4A4A4;
  border : 0;
  border-radius:30px;
  font-size:15px;
  padding:15px 30px;
  position : relative;
  top : 0px;
  left : 1000px;
}
.button2{
  background-color:#A4A4A4;
  border : 0;
  border-radius:30px;
  font-size:15px;
  padding:15px 30px;
  position : relative;
  top : 190px;
  left : 1000px;
}

.a,.button1,.button2{
font-family : 'SHS';
}
