html{
  min-height: 100%;
}

@font-face {
  font-family: Spoqa Han Sans Bold;
  src: url('./public/Spoqa Han Sans Bold.woff');
}

@font-face{
  font-family : Spoqa Han Sans Regular;
  src : url('./public/Spoqa Han Sans Regular.woff');
}

body{
  height: 100%;
  margin:0;
  color: white;
  background: url('./public/images/background.jpg')no-repeat center;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  font-family: Spoqa Han Sans Bold;
  overflow-y: hidden; overflow-x: hidden;
}

#wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
}

#title{
  grid-row: 1 / 2;
  margin-top: 20px;
  border-bottom:1px solid #ffffff;
}

.t1{

  text-decoration: none;
  font-size: 15px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Spoqa Han Sans Bold;
}


#NT1{
  margin-top:50px;
  grid-row : 2/3;
  margin-bottom: 20px;
}

#NT1 .NT1{
  font-size : 25px;
}

#NT1 .NC1{
  line-height: 2em;
  font-size : 20px;
  margin-bottom: 20px;
}

#NT2{
  grid-row : 3/4;
  margin-top : 50px;
  margin-bottom: 20px;
}

#NT2 .NT2{
  font-size : 25px;
}

#NT2 .NC2{
  line-height: 2em;
  font-size : 20px;
}

#LBE{
  grid-row: 4/5;
  text-decoration: none;
  font-size: 30px;
  padding-top: 0px;
  text-align: center;
  font-family: Spoqa Han Sans Bold;
  margin-top: 0;
  margin-bottom: 35px;
}


#title2{
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: Spoqa Han Sans Bold;
}

#subtitle2{
  text-decoration: none;
  font-size: 45px;
  text-align: center;
  margin-top: 5px;
  font-family: Spoqa Han Sans Bold;
}
image{
  vertical-align: middle;
}
